Agora vou loopar a cotação 3

In [1]:
import pandas as pd
from pandas_datareader import data as web
from datetime import date

In [2]:
empresas = {'GGBR4.SA': 'Gerdau preferenciais', 'GGBR3.SA': 'Gerdau Metalúrgica preferenciais',
             'VALE3.SA': 'Vale', 'USIM5.SA': 'Usiminas',  'CSNA3.SA': 'CSN'}

In [3]:
# Laço de repetição:
cotacao_ = {}
# Puxando a cotação mãe(todo o período)
for empresa in empresas:
    cotacao = web.DataReader(empresa, data_source='yahoo', start='01-01-2000', end='08-31-2022')['Adj Close']
    cotacao = cotacao.to_frame()
    cotacao.reset_index(inplace=True)
    cotacao.rename(columns={'Date':'Data'}, inplace=True)
    
    # Adcionando colunas âncora "meses" e "ano"
    cotacao = cotacao.assign(Meses = 0)
    cotacao['Meses'] = cotacao['Data'].dt.month
    cotacao['Ano'] = cotacao['Data'].dt.year

    # Calculando o último dia(útil) de cada mês
    meses = cotacao['Meses']
    c = 1
    lista_dias = []
    for loop in range(0, len(meses)-1):
        atual = meses[c]
        anterior = meses[c-1]
        if atual != anterior:
            lista_dias.append(c-1)
        c += 1
# Utilizando os valores do index, para selecionar apenas os dias desejados
cotacao_final = pd.DataFrame()
lista_datas = list()
lista_cotacoes = list()
lista_referencias = list()
for i in lista_dias: 
    lista_datas.append(cotacao.iloc[i]['Data'])
    lista_cotacoes.append(cotacao.iloc[i]['Adj Close'])
    ano = cotacao.iloc[i]['Ano']
    mes = cotacao.iloc[i]['Meses']
    lista_referencias.append(str(f'{mes}-{ano}'))
# Criando o nosso dataframe para abrigar o resultado
# Aqui tenho que prestar a atencao no loop se ta passando por toadas as empresa 
cotacao_final['Data'] = lista_datas
cotacao_final['Cotacoes'] = lista_cotacoes
cotacao_final['Ref'] = lista_referencias
cotacao_final # mais epecíficamente aqui
# Salvando o dataFrame

          Data   Cotacoes     Ref
0   2000-01-31   1.667136  1-2000
1   2000-02-29   1.566680  2-2000
2   2000-03-31   1.754768  3-2000
3   2000-04-28   1.453401  4-2000
4   2000-05-31   1.709883  5-2000
..         ...        ...     ...
266 2022-03-31  25.608978  3-2022
267 2022-04-29  20.729202  4-2022
268 2022-05-31  21.840000  5-2022
269 2022-06-30  15.440000  6-2022
270 2022-07-29  14.710000  7-2022

[271 rows x 3 columns]

In [8]:
Empresa = dict()

teste[]

[1.6671364307403564,
 1.5666800737380981,
 1.7547675371170044,
 1.4534006118774414,
 1.7098830938339233,
 1.6115643978118896,
 1.6243890523910522,
 1.8830088376998901,
 1.6564491987228394,
 1.5111089944839478,
 1.4683623313903809,
 1.7697293758392334,
 2.1095683574676514,
 1.9813272953033447,
 1.335845708847046,
 1.4726365804672241,
 1.3700437545776367,
 1.2247040271759033,
 1.1114238500595093,
 1.0152429342269897,
 0.769447386264801,
 0.7972325086593628,
 0.9981438517570496,
 1.0408910512924194,
 1.0622649192810059,
 1.1798193454742432,
 1.1947803497314453,
 1.3315714597702026,
 1.3764556646347046,
 1.2589011192321777,
 1.2118796110153198,
 1.1541712284088135,
 0.8656284213066101,
 1.0537152290344238,
 1.3828679323196411,
 1.4576749801635742,
 1.6457620859146118,
 1.767591118812561,
 1.8530855178833008,
 1.6436247825622559,
 1.630800724029541,
 1.987739086151123,
 2.308342456817627,
 2.836268663406372,
 2.9409995079040527,
 3.3620572090148926,
 3.819451093673706,
 4.464933395385742,
 4.659431457519531,
 5.300638198852539,
 5.668262958526611,
 3.975478172302246,
 3.1205365657806396,
 3.2385177612304688,
 3.7608883380889893,
 3.87716007232666,
 3.7959413528442383,
 3.6027235984802246,
 4.428597450256348,
 4.342248439788818,
 4.479894161224365,
 5.745207786560059,
 5.41178035736084,
 4.716712474822998,
 3.6506011486053467,
 3.2402284145355225,
 3.8301382064819336,
 3.960944414138794,
 4.426032066345215,
 3.697622776031494,
 3.9327316284179688,
 4.300356864929199,
 5.556264877319336,
 5.492999076843262,
 5.817877769470215,
 6.266720771789551,
 5.830700874328613,
 5.9418439865112305,
 5.9589433670043945,
 5.351935386657715,
 5.300638198852539,
 5.685360431671143,
 5.5314717292785645,
 5.514373779296875,
 5.889693737030029,
 6.335117816925049,
 7.596155643463135,
 7.608981132507324,
 8.473325729370117,
 8.532318115234375,
 9.294069290161133,
 9.518917083740234,
 11.015923500061035,
 11.840086936950684,
 11.669952392578125,
 13.473881721496582,
 14.106535911560059,
 16.184040069580078,
 16.045543670654297,
 19.09971809387207,
 20.8050537109375,
 18.753402709960938,
 16.082590103149414,
 14.880784034729004,
 10.7326021194458,
 7.56154727935791,
 6.818823337554932,
 7.637925624847412,
 9.265592575073242,
 8.256860733032227,
 9.337939262390137,
 10.931360244750977,
 13.28209400177002,
 11.94566822052002,
 13.16159725189209,
 13.42449951171875,
 14.892377853393555,
 15.965898513793945,
 16.02066421508789,
 15.318740844726562,
 15.254950523376465,
 16.406007766723633,
 19.787059783935547,
 19.85917091369629,
 20.446775436401367,
 15.02095890045166,
 16.70010757446289,
 15.36363697052002,
 16.751506805419922,
 16.13467788696289,
 14.912442207336426,
 15.232277870178223,
 15.82055377960205,
 15.220855712890625,
 15.237988471984863,
 13.970061302185059,
 12.715116500854492,
 11.070920944213867,
 9.576722145080566,
 9.115193367004395,
 8.515205383300781,
 9.461338996887207,
 8.509435653686523,
 8.642126083374023,
 10.528623580932617,
 10.10171127319336,
 9.934405326843262,
 9.913297653198242,
 7.876069068908691,
 6.899898052215576,
 6.384527206420898,
 6.026800632476807,
 6.92415189743042,
 6.808949947357178,
 6.360274314880371,
 7.321012496948242,
 6.635826587677002,
 6.172861576080322,
 5.6358232498168945,
 5.079046249389648,
 4.244309902191162,
 3.8269429206848145,
 4.218626022338867,
 5.581766128540039,
 6.212178707122803,
 8.044310569763184,
 8.329970359802246,
 10.057513236999512,
 7.826395511627197,
 6.945138454437256,
 7.090332508087158,
 6.168013572692871,
 6.189630508422852,
 6.773285388946533,
 8.250438690185547,
 7.090332508087158,
 6.268891334533691,
 5.944638252258301,
 4.359401702880859,
 4.071177005767822,
 3.1387784481048584,
 3.8636865615844727,
 4.214105129241943,
 6.243405818939209,
 4.77391242980957,
 4.035277366638184,
 3.382169008255005,
 2.721285343170166,
 3.047839879989624,
 3.374393939971924,
 4.276305675506592,
 3.1100406646728516,
 2.7601606845855713,
 4.0430521965026855,
 5.543647766113281,
 10.216483116149902,
 5.084916114807129,
 6.080129623413086,
 8.607034683227539,
 6.686586856842041,
 7.067567348480225,
 8.35046100616455,
 9.664451599121094,
 8.435983657836914,
 8.980241775512695,
 9.314570426940918,
 7.08311653137207,
 6.025703430175781,
 5.333719730377197,
 5.582521915435791,
 5.924627304077148,
 6.75656270980835,
 7.4718732833862305,
 6.554410457611084,
 5.722474575042725,
 6.515535831451416,
 8.54483699798584,
 7.891727924346924,
 6.8420891761779785,
 6.826539516448975,
 5.986827850341797,
 6.11122989654541,
 7.137542247772217,
 7.326505184173584,
 7.793797969818115,
 7.985722064971924,
 7.401604175567627,
 7.376572132110596,
 8.511427879333496,
 10.914654731750488,
 13.559874534606934,
 12.68993854522705,
 15.145188331604004,
 15.300851821899414,
 15.136033058166504,
 13.149028778076172,
 12.369927406311035,
 11.032892227172852,
 11.743483543395996,
 13.192718505859375,
 12.061380386352539,
 10.45319652557373,
 6.526235580444336,
 8.377518653869629,
 9.669256210327148,
 10.006556510925293,
 11.477558135986328,
 14.250910758972168,
 15.459566116333008,
 19.244821548461914,
 22.027542114257812,
 29.841651916503906,
 28.483081817626953,
 30.797332763671875,
 35.51015853881836,
 46.08824920654297,
 42.6536865234375,
 41.770606994628906,
 44.391361236572266,
 34.024078369140625,
 28.041072845458984,
 22.233749389648438,
 21.238208770751953,
 24.39075469970703,
 25.126903533935547,
 24.694021224975586,
 25.608978271484375,
 20.729202270507812,
 21.84000015258789,
 15.4399995803833,
 14.710000038146973]

In [7]:
ano

2022

In [ ]:
teste = dict()

teste[]