<img src="https://i.ibb.co/K5n24Nd/1.png"  alt="KCode Banner"  />

<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

# Análise exploratório de dados

## Objetivo:
* Analisar os dados levantados e validar hipóteses

## Hipóteses 

* Investir nas ações rendeu mais que investir na Selic

qual foram as taxas de rendimento? quais foram as taxas de rendimento Selic

In [62]:
import pandas as pd

In [67]:
# Puxando as cotações Selic Para nossa análise
selic = pd.read_csv('C:/Users/manda/OneDrive/Documents/GitHub/Insights/Dados Siderurgia Brasileira 2016~2022/2 Entrega - Cliclo 2/Passo 03 e 04 - Coleta e limpeza dos dados/Dados/Cotacao Selic 2000 ~ 2022.csv', names=["Data", "Cotacao"])
selic['Cotacao'] = selic['Cotacao'].astype(str)

In [68]:
selic

       Data Cotacao
0    1-2000  14,600
1    2-2000  14,500
2    3-2000  14,500
3    4-2000  13,000
4    5-2000  14,900
..      ...     ...
267  4-2022  0,8300
268  5-2022  10,300
269  6-2022  10,200
270  7-2022  10,300
271  8-2022  11,700

[272 rows x 2 columns]

### Modelando

In [69]:
# Modelando o ponto flutuante
c = 0
for cotacao in selic['Cotacao']:
    selic['Cotacao'][c] = selic['Cotacao'][c].replace(',', '.')
    c += 1

In [70]:
selic

       Data Cotacao
0    1-2000  14.600
1    2-2000  14.500
2    3-2000  14.500
3    4-2000  13.000
4    5-2000  14.900
..      ...     ...
267  4-2022  0.8300
268  5-2022  10.300
269  6-2022  10.200
270  7-2022  10.300
271  8-2022  11.700

[272 rows x 2 columns]

In [71]:
selic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Data     272 non-null    object
 1   Cotacao  272 non-null    object
dtypes: object(2)
memory usage: 4.4+ KB

In [72]:
selic['Cotacao'] = selic['Cotacao'].astype(float)

In [73]:
selic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Data     272 non-null    object
 1   Cotacao  272 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.4+ KB

In [75]:
selic['Variacao'] = 0
selic['Variacao'] = selic['Cotacao'].diff( ) 
selic.at[0, 'Variacao'] = 0

In [76]:
selic

       Data  Cotacao  Variacao
0    1-2000    14.60      0.00
1    2-2000    14.50     -0.10
2    3-2000    14.50      0.00
3    4-2000    13.00     -1.50
4    5-2000    14.90      1.90
..      ...      ...       ...
267  4-2022     0.83     -0.10
268  5-2022    10.30      9.47
269  6-2022    10.20     -0.10
270  7-2022    10.30      0.10
271  8-2022    11.70      1.40

[272 rows x 3 columns]

In [ ]:
selic.info()

In [ ]:
selic['Variacao'] = selic['Cotacao'].diff( ) 
df.at[0, 'Variacao'] = 0
df['fatalidades_no_dia'] = df['fatalidades_no_dia'].astype(int)