<img src="https://i.ibb.co/K5n24Nd/1.png"  alt="KCode Banner"  />

<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

# Tratamento de dados, valores das ações x Selic

## Objetivo:
* Criar um dataFrame com os valores das ações durante o período macro;


* Reduzir o periodo para apenas o ultimo dia útil de cada mês;
* Extruturar o DataFrame com nas linhas os meses e nas colunas os anos;
* Obter um dataframe com as cotações Selic no periodo;
* Calcular as variações para os dois dataframes;
* Plotar gráficos para análise;

<h1>Índice</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href=#'a'>Minerando os Dados</a></li>
        <li><a href=#2>Limpeza e Validação dos Dados</a></li>
        <li><a href=#1>Modelando e Exportando os Dados</a></li>
    *O  redirecionamento automático do índice não funciona no GitHub, para utilizá-lo, baixe o notebook em sua máquina
    </ol>
</div>
<br>
<hr>

Importando bibliotecas

In [1]:
from pandas_datareader import data as web
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date

from calendar import monthrange
from workalendar.america import Brazil
import calendario_dias_uteis as cdu
import matplotlib.pyplot as plt

## <h2 id="a">Minerando os Dados</h2>

* Criando um dataFrame com os valores das ações durante o período macro, apenas os últimos dias utéis do mês de 2000 até 2022, o período foi expandido, para maior assertividade; 

* Vou comparar o valor das cotações das ações com o valor da taxa Selic no mesmo período, para isto preciso informar na consulta, qual foi o último dia útil de cada mês. Como não encontrei nenhum biblioteca no PyPi que me retorna-se essa informação, criei um módulo "calendario_dias_uteis" que atende a esta demanda;

Primeiro vou criar uma lista com as dtas dos últimso dias utéis de cada mês, ou seja, os últimos dias do mês que a BOVESPA estve aberta.

In [2]:
# Criando uma lista com as datas dos último dias uteis de cada mês entre os anos 2000 a 2022.
datas = cdu.ultimo_util(2000, 2022) # Utilizando a bilblioteca CDU, de minha autoria, para retornar uma lista com todos os útimos dias utéis de cada mês de 2000 até 2022
print(datas)

['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29', '2001-01-31', '2001-02-28', '2001-03-30', '2001-04-30', '2001-05-31', '2001-06-29', '2001-07-31', '2001-08-31', '2001-09-28', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-29', '2002-04-30', '2002-05-31', '2002-06-28', '2002-07-31', '2002-08-30', '2002-09-30', '2002-10-31', '2002-11-29', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-30', '2003-06-30', '2003-07-31', '2003-08-29', '2003-09-30', '2003-10-31', '2003-11-28', '2003-12-31', '2004-01-30', '2004-02-27', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-30', '2004-08-31', '2004-09-30', '2004-10-29', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29', '2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-30', '2008-10-31', '2008-11-28', '2008-12-31', '2009-01-30', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-29', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31', '2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30', '2012-01-31', '2012-02-29', '2012-03-30', '2012-04-30', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-29', '2013-04-30', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31', '2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31', '2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29', '2018-01-31', '2018-02-28', '2018-03-30', '2018-04-30', '2018-05-31', '2018-06-29', '2018-07-31', '2018-08-31', '2018-09-28', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-29', '2019-04-30', '2019-05-31', '2019-06-28', '2019-07-31', '2019-08-30', '2019-09-30', '2019-10-31', '2019-11-29', '2019-12-31', '2020-01-31', '2020-02-28', '2020-03-31', '2020-04-30', '2020-05-29', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-30', '2020-11-30', '2020-12-31', '2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31', '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29', '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30']

In [15]:
# Como alguns dias estavam dando como úteis, sem ser, provavelmente devidos a recessos, quando fazia a consulta travava nesses dias,
# então exportei uma lista com esses dias que estavam dando erro, ao total eram 6 dias, então foi possivel corrigir manualmente, rapidamente, procurando o dia útil anterior. 
# fiz isso a baixo e retornei uma nova lista de dias dom os dias uteis corrigidos

# Poderia fazer um script para comparar as duas listas, e diminuir a data para o próximo dia útil em caso de erro? Pode, porém, por se tratar de apenas 30 entradas erradas de 277 , em uma lista que não vai ser refeita em caso de escalonamento, é muito mais eficiente, apenas corrigir os valores na mão do que passar uma hora, ou mais, fazendo um script complexo.
  
cotacao = web.DataReader('GGBR4.SA', data_source='yahoo', start='01-01-2000', end='09-16-2022')['Adj Close'] # Puxando as cotações aleatorias, para ter as datas
df0 = pd.DataFrame(cotacao) # Criando um DataFrame com essas datas macro
datas = pd.DataFrame(datas) # Criando um Dataframe com as datas micro, retornadas pela biblioteca CDU

# Exportando ambos, para comparação em excel
datas.to_csv('Dias Uteis.csv')
df0.to_csv('Cotacoes.csv')

# Feito isso corrigi manualmente os valores incorretos
df0 = pd.read_csv('Dados/UltimosUteis.csv', usecols=[0]) # Criando um dataframe com o periodo alvo

In [16]:
df0

    Periodo Real
0      1/31/2000
1      2/29/2000
2      3/31/2000
3      4/28/2000
4      5/31/2000
..           ...
268    5/31/2022
269    6/30/2022
270    7/29/2022
271    8/31/2022
272    9/16/2022

[273 rows x 1 columns]

Agora vou puxar a cotação de uma empresa de 2000 até 2022, com intuito de gerar uma coluna com todos os periodos macro

In [31]:
cotacao = web.DataReader('GGBR4.SA', data_source='yahoo', start='01-01-2000', end='09-16-2022')['Adj Close'] # Puxando a cotação
df1 = pd.DataFrame(cotacao) # transformando a cotação em um DataFrame

# Como as datas foram lidas como index, aqui vou resetá-las, e transformar em um uma coluna
df1.reset_index(inplace=True) # As datas estavam como índice, aqui transformo-as em coluna;
df1.rename(columns = {'Date':'Datas'}, inplace = True) # Renomeando o título do index.
df1.drop(columns=['Adj Close'], inplace=True) # Deletando a coluna para ficarmos só com as data macro
df1

          Datas
0    2000-01-03
1    2000-01-04
2    2000-01-05
3    2000-01-06
4    2000-01-07
...         ...
5651 2022-09-12
5652 2022-09-13
5653 2022-09-14
5654 2022-09-15
5655 2022-09-16

[5656 rows x 1 columns]

Agora vou adcionar as datas micro(apenas ultimos dias uteis) ao nosso DataFrame

In [32]:
df1 = df1.assign(Uteis = df0['Periodo Real'])
df1.rename(columns = {'Datas':'Datas Macro', 'Uteis':'Datas Micro'}, inplace = True) # Renomeando o título do index.
df = df1.copy()
print(df)

     Datas Macro Datas Micro
0     2000-01-03   1/31/2000
1     2000-01-04   2/29/2000
2     2000-01-05   3/31/2000
3     2000-01-06   4/28/2000
4     2000-01-07   5/31/2000
...          ...         ...
5651  2022-09-12         NaN
5652  2022-09-13         NaN
5653  2022-09-14         NaN
5654  2022-09-15         NaN
5655  2022-09-16         NaN

[5656 rows x 2 columns]

Agora podemos notar que as datas não estão no mesmo padrão

In [41]:
print(f"{df['Datas Macro'][20]} -> {df['Datas Micro'][0]}") # Testando igualdade visual
df['Datas Macro'][21] == df['Datas Micro'][0] # Testando se igualdade boleana

2000-01-31 00:00:00 -> 1/31/2000

False

Vou criar uma metodologia para transformá-los em iguais:

In [53]:
dataA = str(df['Datas Macro'][20]) # Transformando em string
dataA = dataA[:10] # Fatiando
dataA = dataA.replace('-', '/') # Substituindo


dataB = df['Datas Micro'][0]

print(dataA, dataB)

2000-01-31 00:00:00 1/31/2000

In [54]:
dataA = str(df['Datas Macro'][20])
dataA = dataA[:10]
dataA = dataA.replace('-', '/')


dataB = df['Datas Micro'][0]

print(dataA, dataB)

2000/01/31 1/31/2000

In [46]:
dataA = date.fromisoformat(dataA)
print(dataA)

ValueError: Invalid isoformat string: '2000-01-31 00:00:00'

In [ ]:
pd.DataFrame(cotacao)

Agora vou padronizar as datas dos dias utéis com o o mesmo formato que foi retornado na nossa consulta (aaaa-mm-dd)

In [ ]:


x = df['Periodo Cotacoes'][0]
datetime

In [ ]:
df

# Montando nossa consulta
* Ampliei o leque de empresas, adcionando a Vale, pois vislubro a possibilidade de inclui-la em minha sugestão de investimento.

In [ ]:
empresas = {'GGBR4.SA': 'Gerdau preferenciais', 'GGBR3.SA': 'Gerdau Metalúrgica preferenciais',
             'VALE3.SA': 'Vale', 'USIM5.SA': 'Usiminas',  'CSNA3.SA': 'CSN'} 
             # Declarando dicionário com as empresas e os códigos na bolsa de valores.

In [ ]:
# 1p Criar um dicionário raíz chamado cotacoes_acoes para abrigar as listas;

# 2p Criar 4 listas, cada uma com o nome de uma empresa e inclui-las no dict

# 3p aprendo a puxar a cotação de uma dia só, puxando a cotação de um dia só

# 4p faco um for para puxar todas as cotacoes das datas dos dias uteis apendando na lista cotacoes acoes

In [ ]:
# Passo 1 Criar um dicionário raíz chamado cotacoes_acoes para abrigar as listas;
cotacoes_acoes = {} 

# Passo 2 Criar 4 listas, cada uma com o nome de uma empresa e inclui-las no dict
Gerdau_Pref = []
Gerdau_Met = [] 
CSN = []
Vale = []
nomes_empresas = [Gerdau_Pref, Gerdau_Met, CSN, Vale]

# Adcionando sublistas à lista raíz
cotacoes_acoes['Gerdau_Pref'] = Gerdau_Pref
cotacoes_acoes['Gerdau_Met'] = Gerdau_Met
cotacoes_acoes['CSN'] = CSN
cotacoes_acoes['Vale'] = Vale

In [ ]:
c = -1
for empresa in nomes_empresas:
    contador = 0
    c += 1 
    for data in datas:
        print(f"[{contador}] empresa {c} cotação do dia {data} ",end="")
        contador += 1
        cotacao = web.DataReader('GGBR4.SA', data_source='yahoo', start=data, end=data)
        cotacao = cotacao['Adj Close'][0]
        print("ok")
        empresa.append(cotacao)

In [ ]:
serie.plot(figsize=(15, 10)) # Declarando o tamanho da figura do gráfico;
plt.title("Evolução do valor das ações Gerdau")
plt.xlabel("Data") # Declarando rótulo do eixo X;
plt.ylabel("Valor das Ações") # Declarando rótulo do eixo Y;   
plt.legend(['GGBR4.SA(Gerdau preferenciais)']) # Criando uma legenda para o gráfico;
plt.show() # Como eu não pedi para o Python mostrar a figura a cada repetição do laço 'for', ele mostra só agora, mas com todas as empresas juntas.

In [ ]:
# Como alguns dias estavam dando como úteis, sem ser, provavelmente devidos a recessos, quando fazia a consulta travava,
# então exportei uma lista com esses dias que estavam dando erro, ao total eram 6 dias, então foi possivel corrigir manualmente, rapidamente, procurando o dia útil anterior. 
# fiz isso a baixo e retornei uma nova lista de dias dom os dias uteis corrigidos
cotacao = web.DataReader('GGBR4.SA', data_source='yahoo', start='01-01-2000', end='09-16-2022')['Adj Close']
df = pd.DataFrame(cotacao)
datas = pd.DataFrame(datas)
datas.to_csv('Dias Uteis.csv')
df.to_csv('Cotacoes.csv')

In [ ]:
display(datas)