<img src="https://i.ibb.co/K5n24Nd/1.png"  alt="KCode Banner"  />

<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

# Análise exploratório de dados

## Metodologia / Passos:
* Fazer em excel um dataframe com as intereseccoes das datas e puxar `ok`
* Fazer um dataframe com todos os valores das ações das empresas empresas no periodo `ok`
* Tirar a média `ok`
* Calcular a variação  `ok`
* Criar um outro dataframe com a tx Selic `ok`
* Calcular a variação  `ok`
* Fazer a análise exploratória

In [1]:
# Importando libs
import pandas as pd

# Criando o nossa série temporal

In [ ]:
pd.Series

In [10]:
# Puxando os dados
dir = 'C:/Users/manda/OneDrive/Documents/GitHub/Insights/Setor Siderúrgico Nacional/2 Entrega - Cliclo 2/Passo 03 e 04 - Coleta e limpeza dos dados/DataFrames/DF pronto para análise pandas.csv'
df = pd.read_csv(dir, skiprows=1, encoding='UTF8')
# Dropando coluna desnecessária
df = df.drop(columns=['Unnamed: 0'])
df

,Data,Vale,Gerdau Pref,Gerdau Met Pref,CSN,Usiminas,Selic
0,1/31/2000,1.951422,268.362579,0.219444,1.667136,1.731119,1.46
1,2/29/2000,1.658708,263.639343,0.231984,1.566680,1.566250,1.45
2,3/31/2000,1.626185,244.209869,0.200635,1.754768,1.426112,1.45
3,4/28/2000,1.626185,234.012115,0.219444,1.453400,1.244756,1.30
4,5/31/2000,1.700176,1.252358,0.980719,1.709883,1.318947,1.49
...,...,...,...,...,...,...,...
258,3/31/2022,90.889160,29.354248,22.675573,25.608978,13.254291,0.93
259,4/29/2022,79.185761,26.648436,20.724682,20.729202,11.310000,0.83
260,5/31/2022,81.961868,28.365076,22.144821,21.840000,10.960000,1.03
261,6/30/2022,72.787384,21.733269,17.251686,15.440000,8.650000,1.02
262,7/29/2022,66.312965,23.785044,18.953648,14.710000,8.610000,1.03

In [11]:
serie = pd.Series(df, index=df['Data'], name='xxx')
serie

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# Modelando nossos dados

In [ ]:
# Inserindo uma coluna com a média do valor das ações
df['Média ações'] = (df['Vale'] + df['Gerdau Pref'] + df['Gerdau Met Pref'] + df['CSN'] +df['Usiminas'])/5
df

## Calculando a variância percentual

In [ ]:
# Reduzindo o dataframe
df_filtrado = df[['Data', 'Média ações', 'Selic']]
df_filtrado

In [ ]:
df_filtrado.info()

In [ ]:
df_filtrado.insert(loc = 2, column = 'Δ% Ações', value = round(df_filtrado['Média ações'].pct_change()*100, 2))
df_filtrado.insert(loc = 4, column = 'Δ% Selic', value = round(df_filtrado['Selic'].pct_change()*100, 2))

In [ ]:
# Criando um data frame só com as variáveis

df_var = df_filtrado[['Data', 'Δ% Ações', 'Δ% Selic']]

In [ ]:
df_var.info()

> Finalmente os dados estão modelados e preparados para nossa análise exploratória;

# Análise exploratória dos dados

In [ ]:
df_var.sum()

De cara já vemos que que no período total as ações renderam mais que o dobro do que a selic  
Agora vamos ver nos períodos mais proximos

In [ ]:
df_var.info()