<img src="https://i.ibb.co/K5n24Nd/1.png"  alt="KCode Banner"  />

<a href="https://www.linkedin.com/in/kauebr/"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="30" ></a> <a href="mailto: kauemandarino@gmail.com"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" width="30" ></a><a href="
https://api.whatsapp.com/send?phone=5541991835800&text=Oi"> <img src="https://imagepng.org/wp-content/uploads/2017/08/whatsapp-icone-1.png" width="30" ></a><a href="https://github.com/kauebr/"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30" ></a>

# Análise exploratório de dados

## Metodologia / Passos:
* Fazer em excel um dataframe com as intereseccoes das datas e puxar `ok`
* Fazer um dataframe com todos os valores das ações das empresas empresas no periodo `ok`
* Tirar a média `ok`
* Calcular a variação  `ok`
* Criar um outro dataframe com a tx Selic `ok`
* Calcular a variação  `ok`
* Fazer a análise exploratória

In [1]:
# Importando libs
import pandas as pd

# Criando o nosso DataFrame

In [2]:
dir = 'C:/Users/manda/OneDrive/Documents/GitHub/Insights/Setor Siderúrgico Nacional/2 Entrega - Cliclo 2/Passo 03 e 04 - Coleta e limpeza dos dados/DataFrames/DF pronto para análise pandas.csv'
df = pd.read_csv(dir, skiprows=1, encoding='UTF8')
df = df.drop(columns=['Unnamed: 0'])
df

,Data,Vale,Gerdau Pref,Gerdau Met Pref,CSN,Usiminas,Selic
0,1/31/2000,1.951422,268.362579,0.219444,1.667136,1.731119,1.46
1,2/29/2000,1.658708,263.639343,0.231984,1.566680,1.566250,1.45
2,3/31/2000,1.626185,244.209869,0.200635,1.754768,1.426112,1.45
3,4/28/2000,1.626185,234.012115,0.219444,1.453400,1.244756,1.30
4,5/31/2000,1.700176,1.252358,0.980719,1.709883,1.318947,1.49
...,...,...,...,...,...,...,...
258,3/31/2022,90.889160,29.354248,22.675573,25.608978,13.254291,0.93
259,4/29/2022,79.185761,26.648436,20.724682,20.729202,11.310000,0.83
260,5/31/2022,81.961868,28.365076,22.144821,21.840000,10.960000,1.03
261,6/30/2022,72.787384,21.733269,17.251686,15.440000,8.650000,1.02
262,7/29/2022,66.312965,23.785044,18.953648,14.710000,8.610000,1.03

# Modelando nossos dados

In [3]:
# Inserindo uma coluna com a média do valor das ações
df['Média ações'] = (df['Vale'] + df['Gerdau Pref'] + df['Gerdau Met Pref'] + df['CSN'] +df['Usiminas'])/5
df

,Data,Vale,Gerdau Pref,Gerdau Met Pref,CSN,Usiminas,Selic,Média ações
0,1/31/2000,1.951422,268.362579,0.219444,1.667136,1.731119,1.46,54.786340
1,2/29/2000,1.658708,263.639343,0.231984,1.566680,1.566250,1.45,53.732593
2,3/31/2000,1.626185,244.209869,0.200635,1.754768,1.426112,1.45,49.843514
3,4/28/2000,1.626185,234.012115,0.219444,1.453400,1.244756,1.30,47.711180
4,5/31/2000,1.700176,1.252358,0.980719,1.709883,1.318947,1.49,1.392417
...,...,...,...,...,...,...,...,...
258,3/31/2022,90.889160,29.354248,22.675573,25.608978,13.254291,0.93,36.356450
259,4/29/2022,79.185761,26.648436,20.724682,20.729202,11.310000,0.83,31.719616
260,5/31/2022,81.961868,28.365076,22.144821,21.840000,10.960000,1.03,33.054353
261,6/30/2022,72.787384,21.733269,17.251686,15.440000,8.650000,1.02,27.172468
262,7/29/2022,66.312965,23.785044,18.953648,14.710000,8.610000,1.03,26.474331

## Calculando a variância percentual

In [4]:
# Reduzindo o dataframe
df_filtrado = df[['Data', 'Média ações', 'Selic']]
df_filtrado

          Data  Média ações  Selic
0    1/31/2000    54.786340   1.46
1    2/29/2000    53.732593   1.45
2    3/31/2000    49.843514   1.45
3    4/28/2000    47.711180   1.30
4    5/31/2000     1.392417   1.49
..         ...          ...    ...
258  3/31/2022    36.356450   0.93
259  4/29/2022    31.719616   0.83
260  5/31/2022    33.054353   1.03
261  6/30/2022    27.172468   1.02
262  7/29/2022    26.474331   1.03

[263 rows x 3 columns]

In [5]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Data         263 non-null    object
 1   Média ações  263 non-null    float64
 2   Selic        263 non-null    float64
dtypes: float64(2), object(1)
memory usage: 6.3+ KB

In [6]:
df_filtrado['Média ações'].pct_change(fill_method ='ffill')

0           NaN
1     -0.019234
2     -0.072378
3     -0.042781
4     -0.970816
         ...
258    0.093640
259   -0.127538
260    0.042079
261   -0.177946
262   -0.025693
Name: Média ações, Length: 263, dtype: float64

In [7]:
df_filtrado.insert(loc = 2, column = 'Δ% Ações', value = round(df_filtrado['Média ações'].pct_change(fill_method ='ffill')*100, 2))
df_filtrado.insert(loc = 4, column = 'Δ% Selic', value = round(df_filtrado['Selic'].pct_change(fill_method ='ffill')*100, 2))

In [8]:
df_filtrado

          Data  Média ações  Δ% Ações  Selic  Δ% Selic
0    1/31/2000    54.786340       NaN   1.46       NaN
1    2/29/2000    53.732593     -1.92   1.45     -0.68
2    3/31/2000    49.843514     -7.24   1.45      0.00
3    4/28/2000    47.711180     -4.28   1.30    -10.34
4    5/31/2000     1.392417    -97.08   1.49     14.62
..         ...          ...       ...    ...       ...
258  3/31/2022    36.356450      9.36   0.93     22.37
259  4/29/2022    31.719616    -12.75   0.83    -10.75
260  5/31/2022    33.054353      4.21   1.03     24.10
261  6/30/2022    27.172468    -17.79   1.02     -0.97
262  7/29/2022    26.474331     -2.57   1.03      0.98

[263 rows x 5 columns]