## Séries Temporáis

https://www.youtube.com/watch?v=28dG0gyXz80

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
import yfinance as yf

In [6]:
ticket = yf.Ticker('^BVSP')
df = ticket.history(period='3y', interval='1mo')

In [7]:
df

                                  Open           High  ...  Dividends  Stock Splits
Date                                                   ...
2019-10-31 00:00:00-03:00  107221.0000  109672.000000  ...          0             0
2019-11-30 00:00:00-03:00  108246.0000  117803.000000  ...          0             0
2019-12-31 00:00:00-03:00  115652.0000  119593.000000  ...          0             0
2020-01-31 00:00:00-03:00  113761.0000  117701.000000  ...          0             0
2020-03-01 00:00:00-03:00  104260.0000  108804.000000  ...          0             0
2020-04-01 00:00:00-03:00   73011.0000   83598.000000  ...          0             0
2020-05-01 00:00:00-03:00   80501.0000   88091.000000  ...          0             0
2020-06-01 00:00:00-03:00   87395.0000   97693.000000  ...          0             0
2020-07-01 00:00:00-03:00   95062.0000  105704.000000  ...          0             0
2020-08-01 00:00:00-03:00  102913.0000  104523.000000  ...          0             0
2020-09-01 00:00:00-03:00   99382.0000  103226.000000  ...          0             0
2020-10-01 00:00:00-03:00   94604.0000  102218.000000  ...          0             0
2020-10-31 00:00:00-03:00   93968.0000  111603.000000  ...          0             0
2020-11-30 00:00:00-03:00  108897.0000  120150.000000  ...          0             0
2020-12-31 00:00:00-03:00  119024.0000  125324.000000  ...          0             0
2021-01-31 00:00:00-03:00  115093.0000  121117.000000  ...          0             0
2021-03-01 00:00:00-03:00  110036.0000  117249.000000  ...          0             0
2021-04-01 00:00:00-03:00  116644.0000  121974.000000  ...          0             0
2021-05-01 00:00:00-03:00  118951.0000  126216.000000  ...          0             0
2021-06-01 00:00:00-03:00  126218.0000  131190.000000  ...          0             0
2021-07-01 00:00:00-03:00  126802.0000  129620.000000  ...          0             0
2021-08-01 00:00:00-03:00  121803.0000  124536.000000  ...          0             0
2021-09-01 00:00:00-03:00  118793.0000  119942.000000  ...          0             0
2021-10-01 00:00:00-03:00  110980.0000  114927.000000  ...          0             0
2021-10-31 00:00:00-03:00  103514.0000  108669.000000  ...          0             0
2021-11-30 00:00:00-03:00  101916.0000  109493.000000  ...          0             0
2021-12-31 00:00:00-03:00  104823.0000  113057.000000  ...          0             0
2022-01-31 00:00:00-03:00  112143.0000  115734.000000  ...          0             0
2022-03-01 00:00:00-03:00  113143.0000  120900.000000  ...          0             0
2022-04-01 00:00:00-03:00  120001.0000  121628.000000  ...          0             0
2022-05-01 00:00:00-03:00  107876.0000  112690.000000  ...          0             0
2022-06-01 00:00:00-03:00  111351.0000  112709.000000  ...          0             0
2022-07-01 00:00:00-03:00   98542.0000  103989.000000  ...          0             0
2022-08-01 00:00:00-03:00  103165.0000  114375.000000  ...          0             0
2022-09-01 00:00:00-03:00  109524.0000  114392.000000  ...          0             0
2022-10-01 00:00:00-03:00  110048.0000  120752.000000  ...          0             0
2022-10-21 00:00:00-03:00  117170.1875  120751.546875  ...          0             0

[37 rows x 7 columns]

In [5]:
df.tail()

                               Open      High  ...  Dividends  Stock Splits
Date                                           ...
2020-12-22 00:00:00-03:00  115825.0  116903.0  ...          0             0
2020-12-23 00:00:00-03:00  116636.0  118311.0  ...          0             0
2020-12-28 00:00:00-03:00  117806.0  119213.0  ...          0             0
2020-12-29 00:00:00-03:00  119130.0  119861.0  ...          0             0
2020-12-30 00:00:00-03:00  119410.0  120150.0  ...          0             0

[5 rows x 7 columns]