## Séries Temporáis

https://www.youtube.com/watch?v=28dG0gyXz80

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose
import yfinance as yf

In [12]:
tickets = {
    'ticket0' : yf.Ticker('GGBR4.SA'),
    'ticket1' : yf.Ticker('GGBR3.SA'),
    'ticket2' : yf.Ticker('VALE3.SA'),
    'ticket3' : yf.Ticker('USIM5.SA'),
    'ticket4' : yf.Ticker('CSNA3.SA')}

In [21]:
from matplotlib.transforms import interval_contains


for ticket in tickets.values():
    print(ticket)

yfinance.Ticker object <GGBR4.SA>
yfinance.Ticker object <GGBR3.SA>
yfinance.Ticker object <VALE3.SA>
yfinance.Ticker object <USIM5.SA>
yfinance.Ticker object <CSNA3.SA>

In [4]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-10-31 00:00:00-03:00,11.232710,14.552030,11.191323,14.071929,330943900.0,0.00,0
2019-11-12 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.04,0
2019-11-30 00:00:00-03:00,13.909677,16.723149,13.801785,16.598660,244543200.0,0.00,0
2019-12-31 00:00:00-03:00,16.598658,18.706688,16.266685,16.640154,263814300.0,0.00,0
2020-01-31 00:00:00-03:00,16.640156,18.499207,13.403418,14.050766,259069300.0,0.00,0
2020-03-01 00:00:00-03:00,14.308043,15.386957,6.772253,8.340826,467218900.0,0.00,0
2020-03-02 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.03,0
2020-04-01 00:00:00-03:00,8.205979,10.642000,7.615681,9.760709,414803900.0,0.00,0
2020-05-01 00:00:00-03:00,9.760710,11.564861,9.078957,11.165787,401421100.0,0.00,0
2020-06-01 00:00:00-03:00,11.431836,13.643377,10.916365,13.310815,412075100.0,0.00,0
2020-07-01 00:00:00-03:00,13.177787,15.065080,12.654001,14.508038,328110000.0,0.00,0
2020-08-01 00:00:00-03:00,14.707579,16.960690,14.167165,15.871548,338659400.0,0.00,0
2020-09-01 00:00:00-03:00,16.004570,18.157912,15.829976,17.293249,283253500.0,0.00,0
2020-10-01 00:00:00-03:00,17.393020,20.003635,16.852606,18.132971,290664300.0,0.00,0
2020-10-31 00:00:00-03:00,18.132972,19.637818,17.077087,18.789783,287693600.0,0.00,0
2020-11-09 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.12,0
2020-11-30 00:00:00-03:00,19.107813,21.105524,18.723316,20.436834,253915400.0,0.00,0
2020-12-22 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.17,0
2020-12-31 00:00:00-03:00,20.580277,25.251873,19.376605,19.570202,327269500.0,0.00,0
2021-01-31 00:00:00-03:00,19.940564,23.711510,19.208259,21.775534,277342800.0,0.00,0
2021-03-01 00:00:00-03:00,22.120642,25.689573,21.901792,25.437054,395896300.0,0.00,0
2021-03-12 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.13,0
2021-04-01 00:00:00-03:00,25.809446,29.606443,24.625527,28.092720,291486000.0,0.00,0
2021-05-01 00:00:00-03:00,28.118088,31.999653,26.849603,27.839020,326633300.0,0.00,0
2021-05-17 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.40,0
2021-06-01 00:00:00-03:00,28.669300,29.362292,24.348800,25.332678,326264600.0,0.00,0
2021-07-01 00:00:00-03:00,25.418229,27.206317,24.229023,26.350773,268647100.0,0.00,0
2021-08-01 00:00:00-03:00,26.804215,27.599870,23.501812,24.229025,290963700.0,0.00,0
2021-08-17 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.54,0
2021-09-01 00:00:00-03:00,24.389339,24.877125,20.434781,23.605396,357454400.0,0.00,0
2021-09-28 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.38,0
2021-10-01 00:00:00-03:00,24.051977,25.695499,22.735392,23.769220,284738200.0,0.00,0
2021-10-31 00:00:00-03:00,24.140339,24.166848,20.446831,22.797245,273337900.0,0.00,0
2021-11-08 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,1.62,0
2021-11-30 00:00:00-03:00,24.978370,28.810280,24.760756,25.896137,223512900.0,0.00,0
2021-12-31 00:00:00-03:00,25.915060,27.835746,25.148678,26.340828,210486400.0,0.00,0
2022-01-31 00:00:00-03:00,26.388137,27.996594,21.837154,24.088991,236138300.0,0.00,0
2022-03-01 00:00:00-03:00,24.088989,29.746970,24.088989,29.150894,351125600.0,0.00,0
2022-03-08 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.20,0
2022-04-01 00:00:00-03:00,29.563856,29.830625,25.324115,26.648438,221368600.0,0.00,0
2022-05-01 00:00:00-03:00,26.543636,28.334806,24.399946,27.791739,317309400.0,0.00,0
2022-05-17 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.57,0
2022-06-01 00:00:00-03:00,28.617901,29.950096,21.285961,21.733269,340176900.0,0.00,0
2022-07-01 00:00:00-03:00,21.383202,24.271247,20.721966,23.785044,260210400.0,0.00,0
2022-08-01 00:00:00-03:00,23.950353,25.525651,22.345884,22.676502,291376800.0,0.00,0
2022-08-16 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.71,0
2022-09-01 00:00:00-03:00,23.340000,25.299999,22.480000,24.440001,288581100.0,0.00,0
2022-10-01 00:00:00-03:00,25.070000,27.219999,24.740000,26.980000,146123100.0,0.00,0
2022-10-24 00:00:00-03:00,0.000000,0.000000,0.000000,26.860001,0.0,0.00,0

In [5]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-08-01 00:00:00-03:00,23.950353,25.525651,22.345884,22.676502,291376800.0,0.00,0
2022-08-16 00:00:00-03:00,NaN,NaN,NaN,NaN,NaN,0.71,0
2022-09-01 00:00:00-03:00,23.340000,25.299999,22.480000,24.440001,288581100.0,0.00,0
2022-10-01 00:00:00-03:00,25.070000,27.219999,24.740000,26.980000,146123100.0,0.00,0
2022-10-24 00:00:00-03:00,0.000000,0.000000,0.000000,26.860001,0.0,0.00,0